#skills.container {
  a,
  .highlight {
    color: #f841ff;
  }

  ul {
    width: 100%;
    margin: 0 0 $baseSpacing;
    text-align: center;

    @include media(tablet) {
      width: 50%;
      margin: 0 auto $baseSpacing;
    }

    @include media(desktop) {
      width: 33.33%;
    }
  }
}
