@import url('https://fonts.googleapis.com/css?family=Montserrat:800|Source+Sans+Pro:600');

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;

  font-family: $headingFontFamily;
  text-shadow: 4px 4px 0 rgba(#000, 0.25);
}

h1 {
  font-size: 3rem;
  padding: 0 0 $baseSpacing * 2;

  @include media(tablet) {
    font-size: 5rem;
  }
}

p,
ul {
  font-size: 1.4rem;
  margin: 0;

  @include media(tablet) {
    font-size: 1.8rem;
  }
}

p {
  padding: 0 0 $baseSpacing;
  margin: 0;

  &:last-child {
    padding: 0;
  }
}

ul {
  padding: 0;
  line-height: 3.2rem;
  list-style: none;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
