// Colours
// -------------------------

$bgColour: #a748f7;
$highlightColour: #2ad69b;

// Typography
// -------------------------

$headingFontFamily: 'Montserrat', sans-serif;
$bodyFontFamily: 'Source Sans Pro', sans-serif;

// Spacing
// -------------------------

$baseSpacing: 40px;
